
<div class="images">
    <h1> MEET n' EAT</h1>
    <div class="main">
      <br> <br>
      <div>
        <h1>Inspiration for your First Order</h1>
        <br> <br>
        <div class="food">
  
          <img src="assets/image/pexels-photo-1624487.jpeg" alt="">
  
          <img src="assets/image/photo-1567620905732-2d1ec7ab7445.jpeg" alt="">
          <img src="assets/image/pexels-photo-1410235.jpeg" alt="">
  
          <img src="assets/image/pexels-photo-1099680.jpeg" alt="">
  
        </div>
      </div>
    </div>
  </div>
  

