
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Product Description - Palazzos</title>
	
</head>
<body>
	<header>
		<h1>HERA </h1>
	</header>
	<main>
		<div class="product-image">
			<img src="../assets/images/pexels-humphrey-muleba-2072454.jpg" alt="HERA" width="80%">
		</div>
		<div class="product-details">
			<h2>Product Details</h2>
			<ul>
				<li>Straight Fit</li>
				<li>Package contains: HERA</li>
				<li>Hand wash</li>
				<li>Cotton</li>
				<li>Product Code: 465667849005</li>
				<li>MRP: Rs. 1,499.00 inclusive of all taxes (MRP changes as per size selection)</li>
				<li>Net Qty: 1 N</li>
				<li>Commodity: Mens's Hoodie</li>
				<li>Country Of Origin: India</li>
			</ul>
			<h3>Product Description</h3>
			<p>Stay comfortable and stylish all day long with these HERA Sweatshirt. These Straight Fit Sweatshirt are made from soft and breathable Cotton fabric, perfect for casual and semi-formal occasions. The package contains one palazzos that you can mix and match with your favourite tops and kurtis. Hand wash the Palazzos to keep them looking their best.</p>
			<h3>Manufactured By</h3>
			<p>AMIRA CREATIONS, A-13, JDA SCHEME KHUSAR, RIICO INDUSTRIAL AREA, SITAPURA, TONK ROAD, JAIPUR, RAJASTHAN, 302022</p>
			<h3>Marketed By</h3>
			<p>AMIRA CREATIONS, A-13, JDA SCHEME KHUSAR, RIICO INDUSTRIAL AREA, SITAPURA, TONK ROAD, JAIPUR, RAJASTHAN, 302022</p>
			<h3>Customer Care</h3>
			<p>If you have any questions or concerns about your purchase, please contact our customer care team:</p>
			<ul>
				<li>Address: AJIO, c/o Reliance Retail Limited, SS Plaza, 74/2 Outer Ring Road, 29th Main Road, BTM 1st Stage, BTM Layout, Bangalore 560068, Karnataka, INDIA</li>
				<li>Phone: 1800-889-9991</li>
				<li>Email: customercare@ajio.com</li>
			</ul>
		</div>
	</main>

