<body>
    <div class="navbar">
      <div class="navbar-logo">
        <img src="/assets/Net-Med.png" alt="Logo">
      </div>
      
      <div class="search-container">
        <input class="search-input hidden" type="text" placeholder="Search for medicine">
        <button class="search-button"><i class="fas fa-search"></i></button>
      </div>
      
      <div class="navbar-icons">
        <div class="navbar-icon">
          <i class="fas fa-user"></i>
          <span>Profile</span>
        </div>
        <div class="navbar-icon" (click)="navigateToNextPage()">
          <i class="fas fa-tags"></i>
          <span>Offers</span>
        </div>
        <div class="navbar-icon">
          <i class="fas fa-shopping-cart"></i>
          <span>Cart</span>
        </div>
      </div>
    </div>
  
    <hr class="nav-line">
    <div class="sub-navbar">
        <ul>
          <li>
            <a routerLink="/medicine">
              <img src="/assets/172011.png" alt="Medicine">
              <span>Medicine</span>
            </a>
          </li>
          <li>
            <a routerLink="/wellness">
              <img src="/assets/ICON-Corp-Wellness-01.png" alt="Wellness">
              <span>Wellness</span>
            </a>
          </li>
          <li>
            <a routerLink="/labtest">
              <img src="/assets/lab-technician.png" alt="Lab Test">
              <span>Lab Test</span>
            </a>
          </li>
          <li>
            <a routerLink="/beauty">
              <img src="/assets/3378785.png" alt="Beauty">
              <span>Beauty</span>
            </a>
          </li>
        </ul>
      </div>
      
      
    
 
      <body>
        <div class="container">
            <div class="image-container">
                <img src="assets\1683704189_150_Rs_Off (2).jpg" alt="Your Image">
     </div>


              <div class="form-container">

                <div class="form-container">
                  <fieldset>
                      <legend style="text-align: center;">Booking Form</legend> <br>
                  <form>
                      <label for="name">Name</label>
                      <input type="text" id="name" name="name" required>
      
                      <label for="number">Number</label>
                      <input type="tel" id="number" name="number" required>
      
                      <label for="pincode">Pincode</label>
                      <input type="text" id="pincode" name="pincode" required>
      
                    <!-- Other form fields -->

<div class="form-row">
  <div>
      <label for="package">Choose Package</label>
      <select id="package" name="package" required>
          <option value="">Select a package</option>
          <option value="package1">NetLife Cough Cold </option>
          <option value="package2">NetLife Healthy Heart</option>
          <option value="package2">NetLife Full Body Checkup</option>
      </select>
  </div>
  <div>
      <label for="test">Choose Test</label>
      <select id="test" name="test" required>
          <option value="">Select a test</option>
          <option value="test1">Daibetes</option>
          <option value="test2">Iron Deficiency</option>
      </select>
  </div>
</div>



                      <label for="terms">
                          <input type="checkbox" id="terms" name="terms" required>
                          Agree to terms and conditions
                      </label>
      
                      <button type="submit">Book Now</button>
                  </form>
                </fieldset>
              </div>
          </div>
              </div>    

          
   
              <div id="customerSpeakSection" class="mt-4">
                <div class="text-start">
                  <h1 id="customerSpeakHeading">Customers Speak</h1>
                  <p id="customerSpeakDesc" style="margin-left: 50px;">Customer satisfaction is our prime focus. We would like to hear your comments about our service.</p>
                </div>
                <div class="testimonial-container">
                  <div class="testimonial-card">
                    <div class="box">
                      <img src="assets/Testimonals4.png" width="100px" height="100px" class="rounded-circle">
                      <h5 class="fw-bold">Manzoor</h5>
                      <p class="testimonial-location">Mumbai</p>
                      <p class="pt-4 pb-4">This is the best lab test experience ever! The process seemed so off-putting. But with Netmeds, it has been so easy and professional!</p>
                    </div>
                  </div>
                  <div class="testimonial-card">
                    <div class="box">
                      <img src="assets/Testimonals2.png" width="100px" height="100px" class="rounded-circle">
                      <h5 class="fw-bold">Rajiv Singh</h5>
                      <p class="testimonial-location">Delhi</p>
                      <p class="pt-4 pb-4">I've done lab tests before. The process seemed so off-putting. But with Netmeds, it has been so easy and professional! I highly recommend Netmeds Swasthya package. Value for money!</p>
                    </div>
                  </div>
                  <div class="testimonial-card">
                    <div class="box">
                      <img src="assets/Testimonals6.png" width="100px" height="100px" class="rounded-circle">
                      <h5 class="fw-bold">Kiran Chakravarti</h5>
                      <p class="testimonial-location">Chennai</p>
                      <p class="pt-4 pb-4">In Netmeds, the phlebotomist took great care when drawing the blood, etc. He was very reassuring! The process went very smoothly.</p>
                    </div>
                  </div>

                  
                </div>
              </div>
              
              