
<div style="width:320px; margin: 0 auto; border:1px solid black; padding:20px;margin-top: 100px;">


<h1>Login Page</h1>
<div >
  
    <form action="" style="padding:20px;">
      <label for="username">Username</label> <br>
      <input type="text" class="form" id=" username" placeholder=" Enter the Username" required>
      <br><br>
      <label for="email"> Email Id</label> <br>
      <input type="text" class="form" id="email" placeholder="Enter the Email " required> <br> <br>
      
<button [routerLink]="['/calculation']">Login</button>
    
    </form>
  

</div>

</div>
