<h1>GENTLEMAN JONES</h1>
  
  
  
    <div>
      <div class="image-container">
        <img src="../assets/images/pexels-humphrey-muleba-2072454.jpg" width="20%">
        <img src="../assets/images/pexels-monstera-6310924.jpg" width="20%">
        <img src="../assets/images/pexels-humphrey-muleba-2072454.jpg" width="20%">
        <img src="../assets/images/pexels-monstera-6310924.jpg" width="20%">
        <img src="../assets/images/pexels-humphrey-muleba-2072454.jpg" width="20%">
     
        
      </div>
    </div>
    


   
   