
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    background-color: #343a40;
    color: white;
    overflow-x: hidden;
    padding-top: 60px;
}
#sidebar a {
    padding: 10px 20px;
    display: block;
    color: #f8f9fa;
    
}
#sidebar a:hover {
    background-color: #adb5bd;
    color: #343a40;
    text-decoration: none;
}


 h1 {
    margin-top: 30px;
    text-align: center;
}

.container {
    margin: 0 auto;
    text-align: center;
  }
  











































/* .card {
    margin: 20px;
}
.card-header {
    background-color: #6c757d;
    color: white;
}
.card-title {
    margin-bottom: 0;
}
.card-body {
    text-align: center;
}
.card-text {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 30px;
}
.list-unstyled {
    font-size: 1.2em;
    list-style: none;
    padding-left: 0;
}
.btn-primary {
    margin-top: 20px;
} */ 
