<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="home">
        <h1> Order Your First Phone </h1>
        <div>
        <img src="assets/image/pexels-erik-mclean-16195411.jpg" alt="" width="200px">
        <p>Samsung Galaxy</p>
        <img src="assets/image/pexels-gantas-vaičiulėnas-3999536.jpg" alt="" width="200px">
        <p>Iphone 14</p>
        <img src="assets/image/pexels-jonathan-borba-2878710.jpg" alt="" width="200px">
        <P>Realme</P>
        <img src="assets/image/pexels-lisa-fotios-1092644.jpg" alt="" width="200px">
        <p>Redmi</p>
    </div>
    </div>
    

</body>
</html>