
<br> <br> <br> <br> <br> <br> <br> <br>

    

<div class="container">
    <h1>Student Details</h1>
  
    <table>
      <tr>
        <th>USN</th>
        <td>{{ formData.id }}</td>
      </tr>
      <tr>
        <th>Name</th>
        <td>{{ formData.name }}</td>
      </tr>
      <tr>
        <th>Gender</th>
        <td>{{ formData.gender }}</td>
      </tr>
      <tr>
        <th>Email</th>
        <td>{{ formData.email }}</td>
      </tr>
      <tr>
        <th>Course Fee</th>
        <td>{{ formData.coursefee }}</td>
      </tr>
    </table>
  </div>















