

<nav>
  <ul>
    <li><a routerLink='/add'>Add Employee</a></li>
    <li><a routerLink='/view'>View Employee</a></li>
  </ul>
</nav>




<div class="container">
  <h1 style="text-align: center;">Employee List</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Designation</th>
        <th>Salary</th>
        <th>Address</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{employee.id}}</td>
        <td>{{employee.name}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.designation}}</td>
        <td>{{employee.salary}}</td>
        <td>{{employee.address}}</td>
        <td>
          <a routerLink="/edit/{{employee.id}}" class="btn btn-primary" style="margin-right: 10px;"><i class="fas fa-edit"></i></a>
<button class="btn btn-danger" (click)="deleteEmployee(employee)"><i class="fas fa-trash-alt"></i></button>

        </td>
      </tr>
    </tbody>
  </table>
</div>
