


<div class="calculator-container" >
    <h1>Calculator</h1>
  
  
    <div>
      <label for="num1">Number 1:</label> <br> 
      <input type="number" id="num1" [(ngModel)]="number1">
    </div>
  
  
    <div>
      <label for="num2">Number 2:</label> <br>
      <input type="number" id="num2" [(ngModel)]="number2">
    </div>
  
  
    <div>
      <label>Result:</label> <br>
      <input type="text" value="{{ result }}" disabled>
    </div> <br> <br>
    
    <button (click)="add()">Add</button> <br> <br>
    <button (click)="subtract()">Subtract</button> <br> <br>
    <button (click)="multiply()">Multiply</button> <br> <br>
    <button (click)="divide()">Divide</button> <br> <br>
  </div>
  





















