<nav>
    <div class="logo">
      <a href="#">GE JONES</a>
    </div>
    <div class="search-bar">
      <form>
        <input type="text" placeholder="Search...">
        <button type="submit">Search</button>
      </form>
    </div>
    <ul class="nav-links">
      <li><a routerLink="">Home</a></li>
      
      <li><a routerLink="product">Products</a></li>
      <li><a routerLink="productdetails">Cart</a></li>
     
      <li><a routerLink="">Wishlist</a></li>
      <li><a routerLink="">About Us</a></li>
    </ul>
  </nav>