
<nav>
    <div class="logo">
      <a href="#">Meet n' Eat</a>
    </div>
    <div class="search-bar">
      <form>
        <input type="text" placeholder="Search for Food">
        <button type="submit">Search </button>
      </form>
    </div>
    <ul class="nav-links">
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="menu">Menu</a></li>
      <li><a routerLink="orders">Orders</a></li>
      <li><a routerLink="helpp">Help</a></li>
      <li><a routerLink="about">About Us</a></li>

      
    </ul>
  </nav>
 
  <br> <br>
 
