<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
</head>
<body>
   
<nav>
    <div class="logo">
      <a href="#">Phone Store</a>
    </div>
    <div class="search-bar">
      <form>
        <input type="text" placeholder="Search for phone">
        <button type="submit">Search </button>
      </form>
    </div>
    <ul class="nav-links">
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="menu">Menu</a></li>
      <li><a routerLink="orders">orders</a></li>
      <li><a routerLink="helpp">Help</a></li>
      <li><a routerLink="about">About Us</a></li>

  
    
    </ul>
  </nav>
  <br> 

  <div class="home">
    <h1> Order Your First Phone </h1>
    <div class="img">
       <br> <br>
    <img src="assets/image/pexels-erik-mclean-16195411.jpg" alt="" width="300px"> 
</div>
</div>
<p>SAMSUNG GALAXY </p>


</body>
</html>
  

