<br> <br>
<h1>Today's Collection</h1>
<br><br> 
<div class="products-container">

    <div class="product-card">
      <img class="product-image" src="../assets/images/pexels-humphrey-muleba-2072454.jpg" alt="Product 1">
      <div class="product-details">
        <div class="product-name">Black Suit </div>
        <div class="product-price">7999</div>
        <div class="product-discount">10% off</div>
        <input type="hidden" name="product_id" value="1">
        <a href=""><input type="submit" name="add_to_cart" value="Add to Cart"></a> 
      </div>
<br>
      <div>
        <a class="cart-button" routerLink="/cart">Description</a>


      </div>
      
    </div>



    <div class="products-container">

      <div class="product-card">
        <img class="product-image" src="../assets/images/pexels-monstera-6310924.jpg" alt="Product 1">
        <div class="product-details">
          <div class="product-name">Sweatshirt</div>
          <div class="product-price">1299</div>
          <div class="product-discount">10% off</div>
          <input type="hidden" name="product_id" value="1">
          <a href="cart.html"><input type="submit" name="add_to_cart" value="Add to Cart"></a>
        </div>
        <br>
        <div>
          <a class="cart-button" routerLink="/cart">Description</a>
        </div>
      </div>

        


    </div>


    <div class="products-container">

      <div class="product-card">
        <img class="product-image" src="../assets/images/pexels-humphrey-muleba-2072454.jpg" alt="Product 1">
        <div class="product-details">
          <div class="product-name">Black Suit for Women</div>
          <div class="product-price">4500</div>
          <div class="product-discount">10% off</div>
          <input type="hidden" name="product_id" value="1">
          <a href="cart.html"><input type="submit" name="add_to_cart" value="Add to Cart"></a>
        </div>
        <br>
        <div>
          <a class="cart-button" routerLink="/cart">Description</a>
        </div>
      </div>



    </div>


    <div class="products-container">

      <div class="product-card">
        <img class="product-image" src="../assets/images/pexels-monstera-6310924.jpg" alt="Product 1">
        <div class="product-details">
          <div class="product-name">HERA</div>
          <div class="product-price">2334</div>
          <div class="product-discount">30% off</div>
          <input type="hidden" name="product_id" value="1">
          <a href="cart.html"><input type="submit" name="add_to_cart" value="Add to Cart"></a>

        </div>
        <br>
        <div>
          <a class="cart-button" routerLink="/cart">Description</a>
        </div>
      </div>



    </div>

    <div class="products-container">

      <div class="product-card">
        <img class="product-image" src="../assets/images/pexels-humphrey-muleba-2072454.jpg" alt="Product 1">
        <div class="product-details">
          <div class="product-name">Printed Black T-shirt</div>
          <div class="product-price">1224.99</div>
          <div class="product-discount">20% off</div>
          <input type="hidden" name="product_id" value="1">
          <a href="cart.html"><input type="submit" name="add_to_cart" value="Add to Cart"></a>
        </div>
        <br>
        <div>
          <a class="cart-button" routerLink="/cart">Description</a>
        </div>
      </div>


    </div>


    <div class="products-container">

      <div class="product-card">
        <img class="product-image" src="../assets/images/pexels-monstera-6310924.jpg" alt="Product 1">
        <div class="product-details">
          <div class="product-name">White Hoodie</div>
          <div class="product-price">1599.99</div>
          <div class="product-discount">30% off</div>
          <input type="hidden" name="product_id" value="1">
          <a href="cart.html"><input type="submit" name="add_to_cart" value="Add to Cart"></a>
        </div>
        <br>
        <div>
          <a class="cart-button" routerLink="/cart">Description</a>
        </div>
      </div>



    </div>
