


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<body>
  <div class="navbar">
    <div class="navbar-logo">
      <img src="/assets/Net-Med.png" alt="Logo">
    </div>
    
    <div class="search-container">
      <input class="search-input " type="text" placeholder="Search for medicine">
      <button class="search-button"><i class="fas fa-search"></i></button>
    </div>
    
    <div class="navbar-icons">
      <div class="navbar-icon" (click)="navigateToNextPagee()">
        <i class="fas fa-home"></i>
        <span>Home</span>
      </div>
      
      <div class="navbar-icon" (click)="navigateToNextPage()">
        <i class="fas fa-tags"></i>
        <span>Offers</span>
      </div>
      <div class="navbar-icon" (click)=" navigateToCartPage()">
        <i class="fas fa-shopping-cart"></i>
        <span class="cart-item-count red-text">{{ totalItems }}</span>

      </div>
    </div>
  </div>
  
  <hr class="nav-line">
  <div class="sub-navbar" >
    <ul>
      <li>
        <a routerLink="/medicine">
          <img src="/assets/172011.png" alt="Medicine">
          <span>Medicine</span>
        </a>
      </li>
      <li>
        <a routerLink="/wellness">
          <img src="/assets/ICON-Corp-Wellness-01.png" alt="Wellness">
          <span>Wellness</span>
        </a>
      </li>
      <li>
        <a routerLink="/labtest">
          <img src="/assets/lab-technician.png" alt="Lab Test">
          <span>Lab Test</span>
        </a>
      </li>
      <li>
        <a routerLink="/beauty">
          <img src="/assets/3378785.png" alt="Beauty">
          <span>Beauty</span>
        </a>
      </li>
    </ul>
  </div>



<!-- Add the toggle button -->
<!-- <div class="toggle-btn" (click)="toggleMenu()"><i class="fa-solid fa-bars"></i></div>
<div class="side-menu" [ngStyle]="{'left': isMenuVisible ? '0px' : '-250px'}">
  
  <br> <br>

  <h2>Categories</h2>

    <div class="menu-items">
      <ul>
        <li>Veterinary</li>
        <li>Ayush</li>
        <li>Fitness</li>
        <li>Mom & Baby</li>
        <li>Sexual Wellness</li>
        <li>Treatments</li>
        <li>Devices</li>
       
      </ul>
    </div>
  </div>
   -->
 

<!-- //newly added -->

<div class="toggle-btn" (click)="toggleMenu()"><i class="fa-solid fa-bars"></i></div>
<div class="side-menu" [ngStyle]="{'left': isMenuVisible ? '0px' : '-250px'}">
  <br> <br>
  <h2>Categories</h2>
  <div class="menu-items">
    <ul>
      <li *ngFor="let category of categories" (click)="navigateToCategoryProducts(category.categoryID)">{{ category.categoryName }}</li>


    </ul>
  </div>
</div>




  

  <div style="margin-left: 300px;">

    <!-- <div class="card-container">
      <div class="card" *ngFor="let product of products">
          <img [src]="product.image" alt="Denim Jeans" (click)="viewProductDetails(product.id)">
          <h1><strong>{{ product.name }}</strong></h1>
          <p>{{ product.description }}</p>
          <p><strong>Category:</strong> {{ product.categoryName }}</p>
          <p><strong>Seller:</strong> {{ product.seller }}</p> 
          <p class="price">Best Price: <span style="color: red;">Rs.{{ product.bestPrice }}</span></p>
          <p class="mrp-price">MRP: <span class="mr-price-strikethrough">Rs.{{ product.mrpPrice }}</span></p>
          <div class="quantity">
              <button (click)="decrementQuantity(product)"><i class="fas fa-minus"></i></button>
              <span>{{ product.quantity }}</span>
              <button (click)="incrementQuantity(product)"><i class="fas fa-plus"></i></button>
          </div>
          <p><button (click)="addToCart(product)">Add to Cart</button></p>
      </div>
  </div> -->
  
    
  <div class="card-container">
    <div class="card" *ngFor="let medicine of medicines">
      <img [src]="medicine.image" alt="Denim Jeans"(click)="viewMedicineDetails(medicine.id)">

        <h1><strong>{{ medicine.name }}</strong></h1>
        <p>{{ medicine.description }}</p>
        <p><strong>Seller:</strong> {{ medicine.seller }}</p>
        <p class="price">Price: <span style="color: red;">Rs.{{ medicine.price }}</span></p>
        <div class="quantity">
            <button (click)="decrementQuantity(medicine)"><i class="fas fa-minus"></i></button>
            <span>{{ medicine.quantity }}</span>
            <button (click)="incrementQuantity(medicine)"><i class="fas fa-plus"></i></button>
        </div>
        <p><button (click)="addToCart(medicine)">Add to Cart</button></p>
    </div>
</div>

      




















